services:
  - type: web
    name: restaurant-backend
    runtime: node
    region: oregon
    branch: main
    plan: starter
    buildCommand: "npm install"
    startCommand: "npm start"
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: restaurant-db
          property: connectionString
      - key: CORS_ORIGIN
        value: "*"

databases:
  - name: restaurant-db
    region: oregon
